* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #5F7C8A;
}

.cadastro {
    background-color: #FFF;
    max-width: 500px;
    width: 70%;
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.cadastro h1 {
    font-size: 24px;
    text-align: center;
    color: #5F7C8A;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#success {
    text-align: center;
    color: #54839b;
    padding: 10px;
    display: none;
}

#error {
    text-align: center;
    color: #FF0000;
    padding: 10px;
    display: none;
}

.cadastro input[type=text],
.cadastro input[type=email],
.cadastro input[type=password] {
    width: 100%;
    height: 45px;
    border: 1px solid #CCC;
    padding-left: 10px;
    margin: 10px 0;
    border-radius: 10px;
}

.cadastro input[type=text]:focus,
.cadastro input[type=email]:focus,
.cadastro input[type=password]:focus {
    outline: 0;
}

.cadastro input[type=submit] {
    width: 100%;
    height: 45px;
    cursor: pointer;
    background-color: #5F7C8A;
    color: #FFF;
    border: 0;
    border-radius: 20px;
    transition: .3s;
}

.cadastro input[type=submit]:hover {
    background-color: #4A5F6A;
}